# =====================
# Java / Maven
# =====================
target/
*.class
*.log
hs_err_pid*

# Package files
*.jar
*.war
*.nar
*.ear

# =====================
# Playwright
# =====================
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# =====================
# IDEs
# =====================
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
*~
